{# pag es un objeto page del objeto paginator #}
{% if pag.has_other_pages %}
    {% if pag.has_previous %}
        <a href="{{ request.path }}?{{ params }}&page={{ pag.previous_page_number }}">
            &laquo; Previous
        </a>
    {% else %}
        &laquo; Previous
    {% endif %}
    | Page {{ pag.number }} of {{ num_pages }} |
    {% if pag.has_next %}
        <a href="{{ request.path }}?{{ params }}&page={{ pag.next_page_number }}">
            Next &raquo;
        </a>
    {% else %}
        Next &raquo;
    {% endif %}
{% endif %}