<h5 class="m_1">Accesos Rapidos</h5>
<ul class="kids">
    <li><a href="{% url 'quick_access' 'new_products' %}">Novedades</a></li>
    <li><a href="{% url 'quick_access' 'discounts' %}">Rebajas</a></li>
    <li><a href="{% url 'quick_access' 'featured' %}">Destacados</a></li>
    <li><a href="{% url 'quick_access' 'super_discount' %}">Súper Rebajas</a></li>
    <li><a href="{% url 'quick_access' 'top_sellers' %}">Más Vedidos</a></li>
    <li><a href="{% url 'quick_access' 'polemical' %}">Polémicos</a></li>
    <li><a href="{% url 'quick_access' 'top_searches' %}">Muy Buscados</a></li>
    <li><a href="{% url 'quick_access' 'desired' %}">Deseados</a></li>
    <li><a href="{% url 'quick_access' 'bestseller' %}">Lujosos</a></li>
    <li><a href="{% url 'quick_access' 'voted' %}">Bien valorados</a></li>
</ul>