{% extends "layout.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% endblock %}
{% block content %}
    {#    {{ response }}#}
    {#    {% if error_message %}#}
    {#        <ul class="errorlist">#}
    {#            <li>{{ error_message }}</li>#}
    {#        </ul>#}
    {#    {% endif %}#}
    <h4>Editar tus datos</h4>
    <div class="register_account">
        <div class="wrap">
            <form action="." method="post">
                {% csrf_token %}
                <div class="col_1_of_2 span_1_of_2">
                    <fieldset>
                        <legend><p class="cart">Información personal</p></legend>
                        <div>{{ form.email }}{{ form.email.errors }}</div>
                        <div>{{ form.phone }}{{ form.phone.errors }}</div>
                        <div>{{ form.birth_day }}{{ form.birth_day.errors }}</div>
                        <div>{{ form.sex }}{{ form.sex.errors }}</div>
                        <div>{{ form.shipping_city }}{{ form.shipping_city.errors }}</div>
                        <div>{{ form.ci }}{{ form.ci.errors }}</div>
                    </fieldset>
                </div>
                <div class="account_advantages span_1_of_2">
                    <fieldset>
                        <legend><p class="cart">Información para envío</p></legend>
                        <div>{{ form.shipping_name }}{{ form.shipping_name.errors }}</div>
                        <div>{{ form.shipping_address_1 }}{{ form.shipping_address_1.errors }}</div>
                        <div>{{ form.shipping_address_2 }}{{ form.shipping_address_2.errors }}</div>
                    </fieldset>
                </div>
                <div class="clear"></div>
                <button class="grey" type="submit" style="margin-left: 10px">Guardar {{ info }}</button>
            </form>
        </div>
    </div>
{% endblock %}