{% extends "layout.html" %}
{% load static %}
{% load checkout_tags %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% endblock %}

{% block content %}
    <div class="register_account">

        <form action="." method="post">
            {% csrf_token %}
            <h4>Cambiar password</h4>
            {% form_table_row form.old_password %}
            {% form_table_row form.new_password1 %}
            {% form_table_row form.new_password2 %}
             <button class="grey" type="submit">Cambiar Password</button>
        </form>
    </div>
{% endblock %}