<div id="CookielawBanner">
    <div class="container">
        <p class="cookie_law_head">Leoshop política de cookies</p>
        <p class="cookie_law_content">
            Usamos cookies para bridar la mejor usabilidad y que los usuarios se lleven una mejor experiencia de uso. Si
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie(this);">aceptas</a>
            significa que estás de acuerdo con nuestra política de cookies, las cuales debes leer desde
            <a href="{% url 'cookies' %}">aquí</a> para más informacíon.
        </p>
    </div>
    <p id="CookielawCross" onclick="Cookielaw.hidePanel(this);"></p>
</div>

