{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flatpages.css' %}"/>
{% endblock %}
{% block content %}
    <div class="flatpage">
        <p>
            LeoShop es una tienda online de ropa, creada en el 2015, su nombre es inspirado en las principales
            cualidades de
            Leo: fortaleza y creatividad, aspectos que caracterizan a nuestra tienda.
            Este nuevo proyecto nace con la intención de llevar nuestras propuestas de moda a cada persona interesada.
            Tenemos a su disposición una gran variedad de productos, los cuales son renovados cada temporada con el fin
            de
            dar a conocer las últimas tendencias seleccionados a nivel mundial.
            Nuestro objetivo es ayudarlos a descubrir un nuevo concepto de moda, crear su propio estilo y cambiar las
            reglas.
        </p>

        <p>
            SAL DE TU ZONA DE CONFORT, solo puedes crecer si estas dispuesto a sentirte incómodo cuando intentas ALGO
            NUEVO!
        </p>

        <p>
            No hacemos moda, somos moda!
        </p>
    </div>
{% endblock %}
