{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flatpages.css' %}"/>
{% endblock %}
{% block content %}
    <div class="flatpage">
        <h2 class="head">FAQ</h2>

        <p>¿Cómo realizar compras online? Los pedidos se pueden realizar en nuestra página web o utilizando nuestra
            aplicación. Debes tener 18 años como mínimo y facilitar una dirección de envío y facturación en Cuba. Si has
            visto un artículo en el catálogo, lo agregas al carrito de compras y asi con todos los artículos que quieres
            comprar. Cuando estés satisfecho con tu pedido, podrás proceder al pago. Para ahorrar tiempo la próxima vez
            que compres, puedes guardar los datos de tu tarjeta de crédito en nuestro servidor seguro, para que no
            tengas que introducirlos cada vez que realices una compra. Si necesitas asistencia, no dudes en llamar al
            teléfono 835-8531; estaremos encantados de ayudarte. Los artículos sólo se reservan una vez que se completa
            la compra. Si un artículo es muy demandado, puede que esté disponible al añadirlo a la bolsa de la compra
            pero que se haya agotado cuando vas a formalizar la compra. </p>

        <p>¿Qué tipo de tarjetas de crédito se aceptan? Leoshop acepta las siguientes tarjetas de crédito: GOVMBA</p>

        <p>¿Cuándo se deduce la cantidad de mi tarjeta de crédito? Cuando realizas un pedido, se procede a reservar la
            cantidad en tu tarjeta de crédito. Aunque el importe no se deducirá de dicha tarjeta hasta que se envíe el
            paquete</p>

        <p>¿Qué ocurre en caso de devolución? Si devuelves algún artículo el importe en la mayoría de los casos se
            abonará en tu tarjeta de crédito, menos la tarifa de envío de la devolución. ENVÍOS Y ENTREGAS </p>

        <p>¿Cuál es el plazo de entrega? Si todos los artículos están disponibles, recibirá el pedido dentro de 2-4 días
            laborables desde la confirmación del pedido.</p>

        <p>¿Cómo puedo hacer un seguimiento del paquete? Tan pronto como empecemos a preparar tu pedido, te enviaremos
            un correo electrónico con la información de la entrega y un enlace para que puedas seguirlo online. También
            podrás seguir tu pedido en Mis compras cuando inicies en el carrito de compras.</p>

        <p>¿Cuáles son los costes de gestión y envío en las compras online? Todas las compras están sujetas a un gasto
            de entrega. En las entregas a domicilio, el importe es de 3.00 cuc </p>

        <p>¿Qué pasos debo seguir en una devolución? Puedes devolver tu pedido en un período "de anulación de compra" de
            30 días, a contar desde el momento en que recibes el/los artículo/s. Todos nuestros paquetes contienen una
            etiqueta con la dirección de devolución para que la utilices cuando nos envíes los artículos. Las
            devoluciones se pueden llevar a la Habana, Cuba.</p>

        <p>¿Debo pagar por la devolución? Las devoluciones tienen un coste de 1.00 cuc. Este importe se deducirá del
            reembolso a percibir.</p>

        <p>. ¿Cómo sé que la devolución se ha procesado? Cuando recibamos el envío de devolución en nuestro almacén, te
            enviaremos un aviso de cancelación a través del correo electrónico, confirmando la recepción del paquete. En
            un plazo máximo de 14 días desde la recepción del aviso de cancelación, y siempre que hayamos recibido el
            artículo o una evidencia de que nos lo has enviado, procesaremos el reembolso siguiendo el mismo método que
            utilizaste al realizar el pago.</p>

        <p>¿Puedo devolver ropa interior y bañadores comprados online? Como con el resto de artículos, puedes devolver
            tanto la ropa interior como los bañadores asegurándote de que estén sin usar y en su estado original. He
            perdido mi hoja de devolución, ¿qué debo hacer? Si has perdido tu hoja de devolución puedes imprimir una
            nueva aquí o contactar a Atención al Cliente para recibir ayuda.</p>

        <p>¿Dónde envío mis devoluciones? Encontrarás la dirección en la nota de devolución previamente impresa que has
            recibido con tu paquete.</p>

    </div>
{% endblock %}