{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flatpages.css' %}"/>
{% endblock %}
{% block content %}
    <div class="flatpage">
        <h2 class="head">PAGOS</h2>

        <p>Aceptamos tarjetas GOVMBA. Por motivos de seguridad, todas las transacciones están cifradas. El importe no se
            deducirá de tu tarjeta hasta que se haya enviado el pedido. * Para más información sobre las compras con
            tarjeta, consulta nuestra Política de privacidad. Si se ha aprobado la operación con la tarjeta de crédito,
            se reservará de inmediato la cantidad correspondiente y recibirás una confirmación del pedido en tu correo
            electrónico. El importe se deducirá de tu tarjeta cuando se envíe el pedido. Si devuelves alguno de los
            artículos, el importe se abonará de nuevo en tu tarjeta. Si no se ha aprobado la transacción con la tarjeta
            de crédito, el pedido se cancelará. Por favor, contacta con tu banco o con el proveedor de la tarjeta si
            tienes alguna pregunta al respecto.

        </p>
    </div>
{% endblock %}