Los pedidos se pueden realizar en nuestra página web o utilizando nuestra aplicación. Debes tener 18 años como mínimo y facilitar una dirección de envío y facturación en Cuba. Los artículos se guardarán en la bolsa de la compra durante 7 días, pero no esperes demasiado ya que no se reservan.

Cuando finalices la compra, haz clic en "Bolsa de la compra" para realizar tu pedido. Entonces se mostrarán el precio y la disponibilidad. En ese momento también puedes editar tu pedido. Cuando estés satisfecho con tu pedido, podrás proceder al pago.

Para ahorrar tiempo la próxima vez que compres, puedes guardar los datos de tu tarjeta de crédito en nuestro servidor seguro, para que no tengas que introducirlos cada vez que realices una compra. Para más información, consulta Pagos.

Cuando hayas realizado tu pedido, recibirás un correo electrónico de confirmación. Además recibirás un correo electrónico adicional para informarte de que tu pedido se ha enviado, junto con un enlace de seguimiento para que puedas saber dónde se encuentra.

Si necesitas asistencia, no dudes en llamar al teléfono 902 044 210; estaremos encantados de ayudarte.