{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flatpages.css' %}"/>
{% endblock %}
{% block content %}
    <div class="flatpage">
        <h2 class="head">compras</h2>

        <p></p>

        <p>Si usted desea realizar una compra en nuestra tienda y es su por primera vez, solo tiene que llenar el
            formulario con los datos que se le exige, pero si es un cliente registrado no tendrá que llevar a cabo este
            paso, puesto que sus datos ya se encuentran almacenados con el objetivo de ahorrarle tiempo.</p>

        <p>Los artículos que usted elige para comprar son guardados en cookies, pero solo por dos semanas, así que no
            pierda mucho tiempo porque de lo contrario se eliminaran.</p>

        <p>Luego de haber seleccionado todo lo que desea comprar solo tiene que dar clic en el botón ¨checkout¨.</p>

        <p>Al finalizar la compra usted recibirá un correo de confirmación, además trataremos de que el producto le sea
            entregado en el menor tiempo posible</p>

        <p>Ante cualquier queja o sugerencia, solo tiene que acceder al formulario de contacto, allí están nuestros
            datos, así que no dude en contactarnos, estaremos siempre a su disposición, porque para LeoShop el cliente
            es lo primero, por lo que será un placer atenderlos.</p>
    </div>
{% endblock %}