{% extends 'layout.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/django_ajax_post.js' %}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/rifas.css' %}"/>
{% endblock %}
{% block content %}
    <a id="link" href="{% url 'login' %}?next={{ request.path }}" hidden></a>
    <ul class="rifa-list">
        {% for promo in promo4 %}
            <li class="block tooltip-info" promoid="{{ promo.id }}">
                <div class="discount">
                    <p class="">Descuento del <span class="percent">{{ promo.discount }}%</span></p>
                </div>
                <p class="cart">Habilitada hasta el: {{ promo.valid_until|date }}</p>

                <p class="cart">Usuarios inscritos: <span id="users-inscritos">{{ promo.users.count }}</span></p>

                <div class="clear"></div>
                <hr/>
                <ul>
                    {% for p in promo.products.all %}
                        {% include 'tags/product_thumbnail.html' %}
                    {% endfor %}
                </ul>
                <div class="div-button" promoid="{{ promo.id }}">
                    <p id="text-button"></p>
                </div>
                <div class="clear"></div>
            </li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function () {
            var btn_remove_label = "Darse baja de esta rifa";
            var btn_include_label = "Inscríbete en la rifa!";

            var button = $('.div-button');

            var user_include = {% if user_include %}true{% else %}false{% endif %}
            if (user_include) {
                //console.log('user include')
                var id = {% if user_in_rifa %}{{ user_in_rifa }}{% else %}false{% endif %};
                var remove_button = $('.div-button[promoid="' + id + '"]');
                remove_button.parent().addClass('user-include');
                remove_button.addClass('remove').removeClass('div-button');
                remove_button.text(btn_remove_label);
                $('.div-button').remove();
            }

            var user_logged = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            var text = user_logged ? btn_include_label : "Login para inscribirte";
            $('p#text-button').text(text);

            $('.block').hover(
                    function () {
                        $(this).children('.div-button').show('fade');
    //                    rifa_id = $(this).children('.div-button').attr('promoid');
      //                  console.log($(this).find('.div-button'))
        //                console.log(rifa_id)
                        $(this).children('.remove').show('fade');
                    }, function () {
                        $(this).children('.div-button').hide('fade');
        //                console.log(rifa_id)
                        $(this).children('.remove').hide('fade');
                    });

            var button_remove = $('.remove');


            button.click(function () {
                var this_ = this;
                if (text == btn_include_label) {
                    var id = $(this).attr('promoid');
                    var url = '/manager/rifas/add-user/';
                    var data = {promo_id: id};
                    var func = function (response) {
                        if (response.success == 'true') {
                            $(this_).parent().find('span#users-inscritos').text(response.users_inscritos);//actualizar cantidad de usuarios
                            $(this_).parent().addClass('user-include');//poner el bloque rosadito
                            //var remove_button = $('.div-button[promoid="' + id + '"]');//tomamos el boton de esa rifa
                            //remove_button.addClass('remove').removeClass('div-button');//le quitamos la clase esa pq los elem de esa clase seran eliminados
                            //remove_button.text(btn_remove_text);
                            $('.div-button').remove();
                        }
                    };
                    ajax(url, data, func)
                } else if (text == "Login para inscribirte") {
                    //utilizar el método .get() para obtener un elemento DOM a partir de un objeto jQuery
                    //y simulamos un click en el.
                    $("#link").get(0).click();//simular click al link para mandarnos a la url login
                }
            });

            button_remove.click(function () {
                var this_ = this;
                var id = $(this).attr('promoid');
                var url = '/manager/rifas/remove-user/';
                var data = {promo_id: id};
                var func = function (response) {
                    if (response.success == 'true') {
                        $(this_).parent().find('span#users-inscritos').text(response.users_inscritos);//actualizar cantidad de usuarios
                        $(this_).parent().removeClass('user-include');//poner el bloque rosadito
                        this_.remove();
                        //var button = $('.remove[promoid="' + id + '"]');//tomamos el boton de esa rifa
                        //button.addClass('div-button').removeClass('remove');
                        //remove_button.text(btn_include);
                    }
                };
                ajax(url, data, func)
            });
            $('.tooltip-info').tooltipster({
                width: 200,
                content: 'Loading...',
                contentAsHTML: true,
                functionBefore: function (origin, continueTooltip) {
                    // we'll make this function asynchronous and allow the tooltip to go ahead and show the loading notification while fetching our data
                    continueTooltip();
                    // next, we want to check if our data has already been cached
                    if (origin.data('ajax') !== 'cached') {
                        var url = '/manager/rifas/retrieve-info/';
                        var data = {'promoid': $(this).attr('promoid')};
                        var func = function (response) {
                            origin.tooltipster('content', response.data).data('ajax', 'cached');
                        };
                        ajax(url, data, func);
                    }
                }
            });
        })
    </script>
{% endblock %}