{% extends 'layout.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/django_ajax_post.js' %}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% endblock %}
{% block content %}
    <a id="link" href="{% url 'login' %}?next={{ request.path }}" hidden></a>
    <ul class="rifa-list">
        {% for promo in promo4 %}
            <li class="block">
                <p>Habilitada hasta el: {{ promo.valid_until|date }}</p>

                <p>Usuarios inscritos: <span id="users-inscritos">{{ promo.users.count }}</span></p>
                <hr/>
                <ul>
                    {% for p in promo.products.all %}
                        <li class="product-rifa">
                            <div class="image">
                                <img src="{{ p.image.url }}" alt="{{ p.name }}" height="150" width="150"/>
                                <a class="link-product-rifa" href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="div-button" promoid="{{ promo.id }}">
                    <p id="text-button"></p>
                </div>
                <div class="clear"></div>
            </li>
        {% endfor %}
    </ul>
    <style>
        {#        {% if user_include %}#}
        {#            .div-button {#}
        {#                display: none;#}
        {#            }#}
        {#            .button-exclude-user {#}
        {#                display: block;#}
        {#            }#}
        {#        {% else %}#}
        {#            .div-button {#}
        {#                display: block;#}
        {#            }#}
        {#            .button-exclude-user {#}
        {#                display: none;#}
        {#            }#}
        {#        {% endif %}#}

        .user-include {
            background-color: rgba(255, 192, 203, 0.13);
        }

        .div-button, .remove {
            display: none;
            width: 200px;
            height: 50px;
            float: right;
            cursor: pointer;
            border-radius: 4px;
            padding-top: 25px;
            text-align: center;
            background-color: #7FFFD4;
            color: #006400;
        }

        .div-button:hover {
            transition: 0.3s linear;
            background-color: #3CB371;
            color: #00FA9A;
        }

        .remove {
            background-color: #936b18;
            color: #5b4210;
            display: none;
        }

        .block {
            width: 80%;
            margin-bottom: 70px;
            padding: 15px 15px 30px 10px;
            box-shadow: 0 0 4px gray;
        }

        .block hr {
            border: 1px solid #ccc;
        }

        .block:hover {
            box-shadow: 0 0 5px black;
        }

        .product-rifa {
            float: left;
        }

        .link-product-rifa {
            position: relative;
            left: 0;
            color: #555555;
        }

        .link-product-rifa:hover {
            color: #333;

        }

        .image {
            position: relative;
            width: 100%;
            padding: 2px;
        }

        a.link-product-rifa {
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            var btn_remove_label = "Darse baja de esta rifa";
            var btn_include_label = "Inscríbete en la rifa!";

            var button = $('.div-button');

            var user_include = {% if user_include %}true{% else %}false{% endif %}
            if (user_include) {
                //console.log('user include')
                var id = {% if user_in_rifa %}{{ user_in_rifa }}{% else %}false{% endif %};
                var remove_button = $('.div-button[promoid="' + id + '"]');
                remove_button.parent().addClass('user-include');
                remove_button.addClass('remove').removeClass('div-button');
                remove_button.text(btn_remove_label);
                $('.div-button').remove();
            }

            var user_logged = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            var text = user_logged ? btn_include_label : "Login para inscribirte";
            $('p#text-button').text(text);

            $('.block').hover(
                    function () {
                        $(this).children('.div-button').show('fade');
                        $(this).children('.remove').show('fade');
                    }, function () {
                        $(this).children('.div-button').hide('fade');
                        $(this).children('.remove').hide('fade');
                    });

            var button_remove = $('.remove');


            button.click(function () {
                var this_ = this;
                if (text == btn_include_label) {
                    var id = $(this).attr('promoid');
                    var url = '/manager/rifas/add-user/';
                    var data = {promo_id: id};
                    var func = function (response) {
                        if (response.success == 'true') {
                            $(this_).parent().find('span#users-inscritos').text(response.users_inscritos);//actualizar cantidad de usuarios
                            $(this_).parent().addClass('user-include');//poner el bloque rosadito
                            //var remove_button = $('.div-button[promoid="' + id + '"]');//tomamos el boton de esa rifa
                            //remove_button.addClass('remove').removeClass('div-button');//le quitamos la clase esa pq los elem de esa clase seran eliminados
                            //remove_button.text(btn_remove_text);
                            $('.div-button').remove();
                        }
                    };
                    ajax(url, data, func)
                } else if (text == "Login para inscribirte") {
                    //utilizar el método .get() para obtener un elemento DOM a partir de un objeto jQuery
                    //y simulamos un click en el.
                    $("#link").get(0).click();//simular click al link para mandarnos a la url login
                }
            });

            button_remove.click(function () {
                var this_ = this;
                var id = $(this).attr('promoid');
                var url = '/manager/rifas/remove-user/';
                var data = {promo_id: id};
                var func = function (response) {
                    if (response.success == 'true') {
                        $(this_).parent().find('span#users-inscritos').text(response.users_inscritos);//actualizar cantidad de usuarios
                        $(this_).parent().removeClass('user-include');//poner el bloque rosadito
                        this_.remove();
                        //var button = $('.remove[promoid="' + id + '"]');//tomamos el boton de esa rifa
                        //button.addClass('div-button').removeClass('remove');
                        //remove_button.text(btn_include);
                    }
                };
                ajax(url, data, func)
            })
        })
    </script>
{% endblock %}